
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"><small>On page <strong>{{ page_obj.number }}</strong>. Showing <strong>{{ page_obj.object_list.count }}</strong> of total <strong>{{ page_obj.paginator.count }}</strong> items.</small></a>
        </li>

    </ul>
</nav>



<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>


{% if post.has_other_pages %}




      <div class="col-6 offset-3 text-center pagination-set ">
          <nav aria-label="">
              <ul class="pagination justify-content-center">
                   {% if post.has_previous %}
                        <li class="page-item"><a class="page-link"
                        href="?page={{ items.previous_page_number }}"><<</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link"><span><<</span></a>
                        </li>
                    {% endif %}
                    {% for i in page_range %}
                        {% if post.number == i %}
                             <li class="page-item active"> 
                                  <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
                             </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if post.has_next %}
                          <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{items.next_page_number}}">>></a> </li>
                    {% else %}
                          <li class= "page-item disabled"> 
                                <a class="page-link"><span>>></span></a>
                          </li>
                    {% endif %}
              </ul>
          </nav>
      </div>

{% endif %}

<hr>