{% extends "base.html" %}
{% load static %}

{{%  block head %}
<title>{{ post.first_name }}</title>
{% endblock head  %}}


{% block body %}

<br>
<br>
<div class="container">  
  <h3 class="text-center">{{ post.firstname }}'s Booked Clinic</h3>
  <br>
  
<table class="table table-hover table mb-0 table-bordered border-primary    table-responsive-md">
    <thead class="table-dark">
      
        <th scope="col">First Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">TCA Date</th>
        <th scope="col">Clinic</th>
        <th scope="col">Doctor's Note</th>
        <th scope="col">Booked On</th>
    </thead>
    <tbody>
      
        <td class="">{{ post.firstname }}</td>
        <td>{{ post.lastname }}</td>
        <td>{{ post.phone }}</td>
        <td>{{ post.tcadate }}</td>
        <th class="text-info">{{ post.clinic }}</th>
        <td class="text-dark">{{ post.doctornote }}</td>
        <td>{{ post.date }}</td> 
    </tbody>
  </table>
  

<hr>
<br>
  <nav class="nav nav-pills nav-fill">
    <a class="nav-link btn-sm btn-danger" aria-current="page" href="{{ post.get_absolute_re_path }}editfile">Edit {{ post.firstname }}'s Clinic?</a>
    <a class="nav-link  " href="#"></a>
    <a class="nav-link" href="#"></a>
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"></a>
  </nav>


<hr>







</div>
                          <div class="container">
                                <img class="card border" >{{ img|safe }} 

                                <img src={{ img }}>
                          </div>

<div class="footer" style="color:olive;">
        <hr/>
        <div class="copyright">
          <div class="container">
            <span>machuamartin@gmail.com &copy; 2023</span>
        </div>
      </div>
    </div>

{% endblock body %}